
<html layout:decorate="~{base}">

<div layout:fragment="content">
    <div class="row justify-content-center align-items-center g-5">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a th:href="@{/employee/manage}"><i class="fa-solid fa-user fa-4x text-white cosmic-icon-9"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a th:href="@{/leaves/manage}"><i class="fa-brands fa-pagelines fa-4x text-white cosmic-icon-6"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a th:href="@{/pdf/genPdf}"><i class="fa-solid fa-file-arrow-down cosmic-icon-3 fa-4x text-white cosmic-icon-7"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a href="https://fmskl.attendance.gov.in/update/emplogin" target="_blank"><i class="fa-solid fa-diamond-turn-right fa-4x text-white  cosmic-icon-2"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a th:href="@{/workorder/manage}"><i class="fa-solid fa-file-word fa-4x text-white  cosmic-icon-5"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card d-flex justify-content-center align-items-center">
                <a th:href="@{/message/msgLander}"><i class="fa-solid fa-message fa-4x text-white  cosmic-icon-5"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="typewriter-container logo">
            <h1 class="typewriter-text">Into the Gravity of Brahm-o-Suki</h1>
        </div>

    </div>


</div>


